---
apiVersion: v1
kind: Namespace
metadata:
  name: main-gateway
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: main-gateway
  namespace: main-gateway
spec:
  gatewayClassName: cilium
  
  addresses:
    - type: IPAddress
      value: 192.168.0.25
    - type: IPAddress
      value: 192.168.0.69
    - type: IPAddress
      value: 192.168.0.6
      
  listeners:
  - name: prod-web
    port: 80
    protocol: HTTP
    allowedRoutes:
      kinds:
      - kind: HTTPRoute
      namespaces:
        from: Selector
        selector:
          matchLabels:
            expose-apps: "true"